nodered-flow.json
[
	{
		"id": "1725dfa6b7ed6d69",
		"type": "tab",
		"label": "Easee Charging",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "8ba6be44f898cc32",
		"type": "inject",
		"z": "1725dfa6b7ed6d69",
		"name": "Every 30s",
		"props": [],
		"repeat": "30",
		"once": true,
		"onceDelay": "5",
		"topic": "",
		"x": 530,
		"y": 640,
		"wires": [
			[
				"ff9875c44d050cd3"
			]
		]
	},
	{
		"id": "ff9875c44d050cd3",
		"type": "api-current-state",
		"z": "1725dfa6b7ed6d69",
		"name": "Get mode",
		"server": "5de24933a87c3a7c",
		"version": 3,
		"outputs": 1,
		"halt_if": "",
		"halt_if_type": "str",
		"entity_id": "input_select.easee_charging_mode",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "mode",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			}
		],
		"x": 710,
		"y": 640,
		"wires": [
			[
				"59b68dbceee1f6cb"
			]
		]
	},
	{
		"id": "59b68dbceee1f6cb",
		"type": "api-current-state",
		"z": "1725dfa6b7ed6d69",
		"name": "Car connected?",
		"server": "5de24933a87c3a7c",
		"version": 3,
		"outputs": 2,
		"halt_if": "ready_to_charge,awaiting_start,charging,completed",
		"halt_if_type": "list",
		"entity_id": "sensor.easee_charger_status",
		"state_type": "str",
		"blockInputOverrides": false,
		"outputProperties": [],
		"x": 910,
		"y": 640,
		"wires": [
			[
				"7eaa8d3cf625532d"
			],
			[]
		]
	},
	{
		"id": "7eaa8d3cf625532d",
		"type": "api-current-state",
		"z": "1725dfa6b7ed6d69",
		"name": "Get P1 power (W)",
		"server": "5de24933a87c3a7c",
		"version": 3,
		"outputs": 1,
		"halt_if": "",
		"halt_if_type": "str",
		"entity_id": "sensor.p1_meter_power_import_power",
		"state_type": "num",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "p1_power",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			}
		],
		"x": 1120,
		"y": 640,
		"wires": [
			[
				"982437e6b068fc22"
			]
		]
	},
	{
		"id": "982437e6b068fc22",
		"type": "api-current-state",
		"z": "1725dfa6b7ed6d69",
		"name": "Get current setpoint (A)",
		"server": "5de24933a87c3a7c",
		"version": 3,
		"outputs": 1,
		"halt_if": "",
		"halt_if_type": "str",
		"entity_id": "input_number.easee_dynamic_current",
		"state_type": "num",
		"blockInputOverrides": false,
		"outputProperties": [
			{
				"property": "current_setpoint",
				"propertyType": "msg",
				"value": "",
				"valueType": "entityState"
			}
		],
		"x": 1350,
		"y": 640,
		"wires": [
			[
				"8b810d5f3c02b61c"
			]
		]
	},
	{
		"id": "8b810d5f3c02b61c",
		"type": "function",
		"z": "1725dfa6b7ed6d69",
		"name": "Brain (all config here)",
		"func": "// ============================================================\n// CONFIGURATION — edit all parameters here\n// ============================================================\n\nconst DEVICE_ID = 'b6930861fd4fcd8ce162a7643da311f5';\n\n// Timezone for schedule evaluation.\n// Node-RED in Docker typically runs UTC even if your house is CET/CEST.\n// Set this to your IANA timezone name so the schedule follows wall-clock time.\nconst TIMEZONE = 'Europe/Brussels';\n\n// Default mode: schedule time slots.\n// Each slot: { startHour, endHour, maxA }\n// startHour inclusive, endHour exclusive (24-hour format).\n// maxA = the guaranteed minimum charging speed within this window.\n// If solar is exporting long enough, the current can rise above maxA (up to SOLAR_MAX_A).\nconst SCHEDULE_WEEKDAY = [\n    { startHour: 1, endHour: 7, maxA: 16 }\n];\n\nconst SCHEDULE_WEEKEND = [\n    { startHour: 1,  endHour: 7,  maxA: 16 },\n    { startHour: 11, endHour: 17, maxA: 16 }\n];\n\n// Absolute maximum that solar surplus may ramp up to in Default mode.\nconst SOLAR_MAX_A = 32;\n\n// Maximum current for Boost mode (session-only).\nconst BOOST_MAX_A = 32;\n\n// Solar only mode: current range (session-only).\n// Min = 0 so the car pauses completely when no solar is available.\nconst SOLAR_ONLY_MIN_A = 0;\nconst SOLAR_ONLY_MAX_A = 32;\n\n// Dead-band in watts before we adjust the current by 1 A.\n// ~400 W ≈ 1.7 A on a single 230 V phase — prevents oscillation.\nconst SOLAR_MARGIN_W = 400;\n\n// Hysteresis: consecutive ticks required before ramping UP or DOWN.\n// Each tick is 30 s, so 10 ticks = 5 minutes of sustained condition before acting.\n// Both directions use the same value so the system is symmetric and stable.\nconst HYSTERESIS_TICKS = 10;\n\n// ============================================================\n// LOGIC — no need to edit below this line\n// ============================================================\n\nconst mode     = msg.mode;\nconst p1       = Number(msg.p1_power);        // W, positive = importing, negative = exporting\nlet   setpoint = Number(msg.current_setpoint); // A\n\nif (isNaN(p1) || isNaN(setpoint)) {\n    node.warn('Invalid P1 or setpoint — skipping tick');\n    return null;\n}\n\nfunction getLocalTime() {\n    // Intl.DateTimeFormat with explicit TIMEZONE so the schedule follows\n    // wall-clock time regardless of the Node-RED host system timezone (UTC in Docker).\n    const parts = new Intl.DateTimeFormat('en-GB', {\n        timeZone: TIMEZONE, weekday: 'short',\n        hour: '2-digit', minute: '2-digit', hour12: false\n    }).formatToParts(new Date());\n    const get = type => parts.find(p => p.type === type).value;\n    let hour = parseInt(get('hour'), 10);\n    if (hour === 24) hour = 0; // guard: some JS engines return 24 for midnight\n    return {\n        hour:      hour + parseInt(get('minute'), 10) / 60,\n        isWeekend: ['Sat', 'Sun'].includes(get('weekday'))\n    };\n}\n\nfunction clamp(v, min, max) {\n    return Math.max(min, Math.min(max, Math.round(v)));\n}\n\n// Hysteresis counters — stored in flow context so they persist across ticks.\n// exportTicks: ticks where the house is exporting; resets only when importing.\n// importTicks: ticks where the house is importing; resets only when exporting.\n// Dead-band readings leave both counters unchanged — only the opposite extreme resets a counter.\nlet exportTicks = flow.get('solarExportTicks') || 0;\nlet importTicks = flow.get('solarImportTicks') || 0;\n\nif (p1 < -SOLAR_MARGIN_W) {\n    exportTicks += 1;\n    importTicks  = 0;\n} else if (p1 > SOLAR_MARGIN_W) {\n    importTicks += 1;\n    exportTicks  = 0;\n} else {\n    // Dead-band: leave both counters unchanged.\n    // A single fluctuation inside ±SOLAR_MARGIN_W does not wipe accumulated progress.\n}\nflow.set('solarExportTicks', exportTicks);\nflow.set('solarImportTicks', importTicks);\n\nconst canRampUp   = exportTicks >= HYSTERESIS_TICKS;\nconst canRampDown = importTicks >= HYSTERESIS_TICKS;\n\n// --- Default mode: schedule-following + solar ramp-up ---\n// Outside every schedule window → 0 A (car pauses).\n// Inside a window, floor = slot.maxA:\n//   exporting solar for HYSTERESIS_TICKS ticks → ramp up toward SOLAR_MAX_A\n//   importing AND already above floor           → ramp back down toward floor immediately\n//   otherwise                                  → keep setpoint unchanged\nif (mode === 'Default') {\n    const { hour: localHour, isWeekend } = getLocalTime();\n    const schedule = isWeekend ? SCHEDULE_WEEKEND : SCHEDULE_WEEKDAY;\n    const slot     = schedule.find(s => localHour >= s.startHour && localHour < s.endHour) || null;\n    if (!slot) {\n        // Outside every window — stop charging\n        msg.payload = { new_current: 0, device_id: DEVICE_ID };\n    } else {\n        let newA = setpoint;\n        if      (canRampUp)                newA += 1; // sustained solar surplus → speed up\n        else if (canRampDown && newA > slot.maxA) newA -= 1; // sustained import + above floor → slow down\n        newA = clamp(newA, slot.maxA, SOLAR_MAX_A);\n        msg.payload = { new_current: newA, device_id: DEVICE_ID };\n    }\n    return msg;\n}\n\n// --- Boost mode (session-only) ---\n// Charges at BOOST_MAX_A immediately, ignoring schedule and solar.\n// Automatically resets to Default when the car unplugs.\nif (mode === 'Boost') {\n    msg.payload = { new_current: BOOST_MAX_A, device_id: DEVICE_ID };\n    return msg;\n}\n\n// --- Solar only mode (session-only) ---\n// Tracks solar export; pauses (0 A) when no solar is available.\n// Hysteresis prevents short cloud passes from causing repeated start/stop cycles.\n// Automatically resets to Default when the car unplugs.\nif (mode === 'Solar only') {\n    let newA = setpoint;\n    if      (canRampUp)   newA += 1; // sustained solar surplus → speed up\n    else if (canRampDown) newA -= 1; // sustained import → slow down\n    newA = clamp(newA, SOLAR_ONLY_MIN_A, SOLAR_ONLY_MAX_A);\n    msg.payload = { new_current: newA, device_id: DEVICE_ID };\n    return msg;\n}\n\nnode.warn('Unknown mode: ' + mode);\nreturn null;",
		"outputs": 1,
		"timeout": "",
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 1640,
		"y": 640,
		"wires": [
			[
				"69236ca74e9f6636"
			]
		]
	},
	{
		"id": "69236ca74e9f6636",
		"type": "api-call-service",
		"z": "1725dfa6b7ed6d69",
		"name": "easee.set_circuit_dynamic_limit",
		"server": "5de24933a87c3a7c",
		"version": 7,
		"action": "easee.set_circuit_dynamic_limit",
		"data": "{\"device_id\": payload.device_id, \"current_p1\": payload.new_current, \"time_to_live\": 0}",
		"dataType": "jsonata",
		"x": 1970,
		"y": 640,
		"wires": [
			[
				"43c435e18482c498"
			]
		]
	},
	{
		"id": "43c435e18482c498",
		"type": "api-call-service",
		"z": "1725dfa6b7ed6d69",
		"name": "Store setpoint in HA helper",
		"server": "5de24933a87c3a7c",
		"version": 7,
		"action": "input_number.set_value",
		"data": "{\"entity_id\": \"input_number.easee_dynamic_current\", \"value\": payload.new_current}",
		"dataType": "jsonata",
		"x": 2260,
		"y": 640,
		"wires": [
			[]
		]
	},
	{
		"id": "e5a4f36d403cbf64",
		"type": "server-state-changed",
		"z": "1725dfa6b7ed6d69",
		"name": "Car connected?",
		"server": "5de24933a87c3a7c",
		"version": 6,
		"outputs": 2,
		"exposeAsEntityConfig": "",
		"entities": {
			"entity": [
				"sensor.easee_charger_status"
			],
			"substring": [],
			"regex": []
		},
		"outputInitially": false,
		"stateType": "str",
		"ifState": "ready_to_charge,awaiting_start,charging,completed",
		"ifStateType": "str",
		"ifStateOperator": "is",
		"outputOnlyOnStateChange": false,
		"for": "60",
		"forType": "num",
		"ignorePrevStateNull": false,
		"ignorePrevStateUnknown": false,
		"ignorePrevStateUnavailable": false,
		"ignoreCurrentStateUnknown": false,
		"ignoreCurrentStateUnavailable": false,
		"outputProperties": [],
		"x": 530,
		"y": 820,
		"wires": [
			[
				"ff9875c44d050cd3"
			],
			[
				"e4057ec538e9027e",
				"3e69d2db329d1391",
				"a1b2c3d4e5f60001"
			]
		]
	},
	{
		"id": "e4057ec538e9027e",
		"type": "api-call-service",
		"z": "1725dfa6b7ed6d69",
		"name": "Reset mode  Default",
		"server": "5de24933a87c3a7c",
		"version": 7,
		"action": "input_select.select_option",
		"data": "{\"entity_id\": \"input_select.easee_charging_mode\", \"option\": \"Default\"}",
		"dataType": "json",
		"x": 800,
		"y": 790,
		"wires": [
			[]
		]
	},
	{
		"id": "3e69d2db329d1391",
		"type": "api-call-service",
		"z": "1725dfa6b7ed6d69",
		"name": "Reset setpoint  6 A",
		"server": "5de24933a87c3a7c",
		"version": 7,
		"action": "input_number.set_value",
		"data": "{\"entity_id\": \"input_number.easee_dynamic_current\", \"value\": 6}",
		"dataType": "json",
		"x": 800,
		"y": 850,
		"wires": [
			[]
		]
	},
	{
		"id": "a1b2c3d4e5f60001",
		"type": "api-call-service",
		"z": "1725dfa6b7ed6d69",
		"name": "Reset Easee limit  0 A",
		"server": "5de24933a87c3a7c",
		"version": 7,
		"action": "easee.set_circuit_dynamic_limit",
		"data": "{\"device_id\": \"b6930861fd4fcd8ce162a7643da311f5\", \"current_p1\": 0, \"time_to_live\": 0}",
		"dataType": "json",
		"x": 800,
		"y": 910,
		"wires": [
			[]
		]
	},
	{
		"id": "5de24933a87c3a7c",
		"type": "server",
		"name": "Home Assistant",
		"version": 5,
		"addon": false,
		"rejectUnauthorizedCerts": false,
		"ha_boolean": "y|yes|true|on|home|open",
		"connectionDelay": true,
		"cacheJson": true,
		"heartbeat": true,
		"heartbeatInterval": "30",
		"areaSelector": "friendlyName",
		"deviceSelector": "friendlyName",
		"entitySelector": "friendlyName",
		"statusSeparator": ": ",
		"statusYear": "hidden",
		"statusMonth": "short",
		"statusDay": "numeric",
		"statusHourCycle": "default",
		"statusTimeFormat": "h:m",
		"enableGlobalContextStore": false
	},
	{
		"id": "838e6c0d78ced81c",
		"type": "global-config",
		"env": [],
		"modules": {
			"node-red-contrib-home-assistant-websocket": "0.77.2"
		}
	}
]